
<nav class="navbar navbar-light bg-light border-bottom border-dark border-2">
    <h1 class="row">Cryptonite</h1> 
   <b >
     Cryptonite
     <img src='/assets/images-a.jpg' width="200" height="100"alt= מטבעות/>
   </b>
 </nav>


 <div class="row container-fluid" >
   <div class="col">
     
     <button type="button" class="btn btn-primarya ctive  "[routerLink]='[""]'>home</button>
     <button type="button" class="btn btn-primary "[routerLink]='["live reports"]'>live reports</button>
     <button type="button" class="btn btn-primary "[routerLink]='["about"]'>about</button>
</div>
     <form class="d-flex">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success" type="submit">Search</button>
       </form>
   </div>